<p><i class="fa fa-twitter fa-lg fa-fw"></i> <a href="https://twitter.com/blurr1" target="_blank">@blurr1</a></p>
<p><i class="fa fa-github fa-lg fa-fw"></i> <a href="https://github.com/goto10" target="_blank">@goto10</a></p>
<p><i class="fa fa-linkedin fa-lg fa-fw"></i> <a href="https://www.linkedin.com/in/mikeanelli" target="_blank">linkedin.com/in/ellekasai</a></p>
<p><i class="fa fa-laptop fa-lg fa-fw"></i> <a href="http://8bitcode.com" target="_blank">8bitcode.com</a></p>
<p><i class="fa fa-envelope-o fa-lg fa-fw"></i> <a href="mailto:mike@anelli.us" target="_blank">mike@anelli.us</a></p>